@model IEnumerable<TechNova.Models.VentaDetalle>

@{
    ViewData["Title"] = "Detalles de Ventas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalles de Ventas</h1>

<table class="table table-striped table-bordered table-hover">
    <thead class="table-dark">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Cantidad)</th>
            <th>@Html.DisplayNameFor(model => model.PrecioUnitario)</th>
            <th>@Html.DisplayNameFor(model => model.Subtotal)</th>
            <th>Producto</th>
            <th>Cliente</th>
            <th>Fecha Venta</th>
            <th>Total Venta</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Cantidad</td>
                <td>@item.PrecioUnitario.ToString("C")</td>
                <td>@item.Subtotal.ToString("C")</td>

                <td>@item.Producto?.Nombre</td>

                <td>@item.Venta?.Cliente?.NombreCompleto</td>
                <td>@item.Venta?.Fecha.ToString("dd/MM/yyyy")</td>
                <td>@item.Venta?.Total.ToString("C")</td>

                <td>
                    <a class="btn btn-sm btn-info" asp-action="Details" asp-route-id="@item.VentaDetalleId">Detalles</a>
                    <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.VentaDetalleId">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
